<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961767578085-spucqhi6a4k5m5s30abfh4vsg6a4ridk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961767578085-spucqhi6a4k5m5s30abfh4vsg6a4ridk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>961767578085-a2bjdkl8c364fe9oelapund2ask475jm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzxdWoKSYSDvoKj64yhUGL-ytoxptyDVw</string>
	<key>GCM_SENDER_ID</key>
	<string>961767578085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nowaste.ai</string>
	<key>PROJECT_ID</key>
	<string>nowaste-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>nowaste-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961767578085:ios:d1e662f17e6fad2fd3f70c</string>
</dict>
</plist>